<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="">
                <label for="name">name</label>
                <input type="text" name="name">
                <label for="teacher">teacher</label>
                <select name="teacher" id="teacher">
                    {% for teacher in teachers %}
                    <option value="{{teacher.id}}">teacher.name</option>
                    {% endfor %}
                </select>
            </form>
            <form action="">
                {% for student in students %}
                <label for="{{student.id}}">{{student.name}}</label>
                <input type="checkbox" name="{{student.id}}" id="{{student.id}}" value="{{student.id}}">
                {% endfor %}
            </form>
        </div>
    </div>
</body>
</html>