<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="">
                <label for="first_name">first_name</label>
                <input type="text" name="first_name">
                <label for="last_name">last_name</label>
                <input type="text" name="last_name">
                <label for="email">email</label>
                <input type="text" name="email">
                <label for="password">address</label>
                <input type="text" name="password">
            </form>
        </div>
        <div>
            <table>
                <thead>
                    <th>name</th>
                    <th>address</th>
                </thead>
                <tbody>
                    {% for student in teachers %}
                    <tr>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.password}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>