<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="container">
            <form action="/add_teacher" method="post">
    
    
    
                <div class="mb-3">
                    <label for="first_name">First name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name">
                    {% for message in get_flashed_messages(category_filter=['err_first_name']) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="last_name">Last name:</label>
                    <input type="text" class="form-control" name="last_name" id="last_name">
                    {% for message in get_flashed_messages(category_filter=['err_last_name']) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" id="email">
                    {% for message in get_flashed_messages(category_filter=['err_email']) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" id="password">
                    {% for message in get_flashed_messages(category_filter=['err_password']) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" name="confirm_password" id="password">
                    {% for message in get_flashed_messages(category_filter=['err_confirm_password']) %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                </div>
    
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div>
            <table>
                <thead>
                    <th>name</th>
                    <th>address</th>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                    <tr>
                        <td>{{teacher.first_name}}</td>
                        <td>{{teacher.last_name}}</td>
                        <td>{{teacher.email}}</td>
                        <td>{{teacher.password}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>