<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div></div>
        <div>
            <div>
                {% for submission in submissions %}
                <button><a href="/new_submission">view</a></button>
                <button><a href="/submit/{{submission.id}}">submit</a></button>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>