<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>

        </div>
        <div>
            <!-- tabs -->
            <div></div>
            <!-- alts -->
            <div>
                <div></div>
                <div>
                    <div>
                        <p>Respitory</p>
                        <p>Respitory Sputum</p>
                        <label for="respitory_sputum_color">Respitory Sputum color</label>
                        <input type="text" name="respitory_sputum_color" id="respitory_sputum_color">
                        <label for="respitory_sputum_odor">Respitory Sputum odor</label>
                        <input type="text" name="respitory_sputum_odor" id="respitory_sputum_odor">
                        <label for="respitory_sputum_consistincy">Respitory Sputum consisitancy</label>
                        <input type="text" name="respitory_sputum_consistincy" id="respitory_sputum_consistincy">
                        <label for="respitory_sputum_amount">Respitory Sputum odor</label>
                        <input type="text" name="respitory_sputum_amount" id="respitory_sputum_amount">
                        <p>Respitory breath sounds</p>
                        <label for="respitory_sounds_left">Respitory breath sounds</label>
                        <select name="respitory_sounds_left" id="respitory_sounds_left">
                            <option value=""></option>
                        </select>
                        <label for="respitory_thorax">respitory thorax</label>
                        <select name="" id="">
                            <option value="even expansion">even expansion</option>
                            <option value="uneven expansion">uneven expansion</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
        <button><a href="/submit/{{submission.id}}"></a></button>
    </div>
</body>
</html>