<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/new_school">add school</a>
    <div>
    {% for school in schools%}
    <div>
        <p>{{school.name}}</p>
        <button><a href="/new_course">add courses</a></button>
        <button><a href="/new_teacher">add teachers</a></button>
        <button><a href="/new_student">add students</a></button>
    </div>
    {% endfor %}
    </div>
</body>
</html>