<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div></div>
        <div>
            <div>
                {% for submission in submissions %}
                {% endfor %}
            </div>
        </div>
        <div>
            <h3>create new assignment</h3>
            <form action="/add_submission">
                <label for="course_id">Course</label>
                <select name="course_id" id="course_id">
                {% for course in courses %}
                <option value="course.id">{{course.name}}</option>
                {% endfor %}
                </select>
                <label for="">medications</label>
                <input type="text" name="">
            </form>
        </div>
    </div>
</body>
</html>